.sidebar {
  max-width: 300px;
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: -300px;
  background-color: #c6e4ee39;
  margin-left: -300px;
  transition: margin-left 0.3s;
  padding: 60px 20px;

  &.open {
    margin-left: 0;
  }

  .sidebar-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    background: transparent;
    opacity: 0.8;
    border: none;
    cursor: pointer;
  }

  .sidebar-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .sidebar-textarea {
    border: none;
    background: #c6e4ee88;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    width: 100%;
    height: 150px;
    resize: none;

    &:focus {
      outline: 2px solid blue;
    }
  }

  .sidebar-accordion {
    margin-bottom: 40px;
    margin-top: 40px;
    background: transparent;
    border: none;
  }

  .sidebar-accordion-summary {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
